# Runtime and local data
Debug/
Logs/
Accounts/
dataMap/
*.log
*.exe
*.dll
*.pdb
*.zip

# Lua project/editor rules
luac.out
*.src.rock
*.tar.gz
*.o
*.os
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.so
*.so.*
*.dylib
*.out
*.app
*.i*86
*.x86_64
*.hex
/test_pclib_retrieveFirstById.lua
/.idea/
/.vs/
